.main
{
    text-align: center;
}

.selected
{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px auto;
}

.selectedTeam
{
   display: flex;
   margin: 20px auto;
}

.cap
{
   display: flex;
   justify-content: center;
   align-items: center;
}

.regen
{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   bottom: 200px;
}

.teamCount
{
   display: flex;
   border: 1px solid gray;
   border-radius: 20px;
   margin: 20px auto;
   margin-bottom: 0px !important;
   height: 80px;
   width: 30%;
   padding: 10px 30px;
   justify-content: space-between;
   align-items: center;
}

